@import '../../../assets/styles/main.styl'
body
    display:  flex
    background: #ccc
    
::placeholder 
  color: gray;

.swiper-container 
    width: 600px;
    height: 300px;
    background: #ccc
    overflow hidden

.a
    color: #ccc
    