// 项目公共样式，
$background = #fbfbfb
$card-bg = #fbfbfb
$cl-red = #FF2D55 
$cl-green = #47b39d
$cl-yellow = #FC9005
$cl-blue = #1184E1
$cl-orange = #eb6b56
$cl-pink = #f18c8e
$cl-purple = #AC13D0
$cl-black = #344e5c

$cl-darkgray = #4d5e72
$cl-darkred = #EF655B
$cl-darkpur = #462446
$cl-darkblue = #3D59C1

$cl-title = #222222
$cl-subTitle = #444444
$cl-content = #888
$cl-subColor = #b5b5b5
$cl-disabled = #bbbec4
$cl-border = #dddee1
$cl-divider = #e9eaec
$cl-comment = #F5F4F4


$shadow = 0 0.1rem .4rem 0 #AAAAAA

//字体定义规范
$fs-s = 12px
$fs-m = 14px
$fs-subTitle = 16px
$fs-title = 20px

$mfs-s = 0.24rem
$mfs-content = 0.26rem
$mfs-m = 0.28rem
$mfs-title = 0.3rem


.overflow-3
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
.overflow-2
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
.overflow-1
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
